@charset "UTF-8";
@import url(reset.css);
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
#header {
  width: 100%;
  box-sizing: border-box;
  background-color: #fff; }
  #header hr {
    margin: 0; }
  #header #navbar-header {
    display: flex;
    width: 100%;
    padding: 22px 0; }
    #header #navbar-header .content {
      padding: 0;
      display: flex;
      width: 100%;
      justify-content: space-between; }
      #header #navbar-header .content label[for='menu-bar'] {
        align-self: center;
        font-size: 30px;
        color: #574367; }
      #header #navbar-header .content #menu {
        display: flex;
        width: 45%;
        align-items: center;
        justify-content: space-between; }
        #header #navbar-header .content #menu li a {
          font-family: PTSans;
          font-size: 1em;
          font-weight: 400;
          padding-bottom: 6px;
          transition: .5s;
          text-decoration: none;
          color: #949494;
          border-bottom: 2px solid transparent; }
          #header #navbar-header .content #menu li a:hover {
            font-weight: 700;
            color: #574367;
            border-bottom: 2px solid #574367; }
      #header #navbar-header .content .btn {
        font-family: Akrobat;
        font-weight: 400;
        padding: 20px 50px;
        transition: .5s;
        text-decoration: none;
        color: #949494;
        border: 1px solid #e2e2e2;
        border-radius: 100px;
        align-self: center; }
        #header #navbar-header .content .btn:hover {
          color: #574367;
          background-color: #fff;
          -webkit-box-shadow: 0 8px 21px 0 rgba(87, 67, 103, 0.35);
          -moz-box-shadow: 0 8px 21px 0 rgba(87, 67, 103, 0.35);
          box-shadow: 0 8px 21px 0 rgba(87, 67, 103, 0.35); }
  #header .content {
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-between; }
    #header .content .goodboy {
      display: flex;
      width: 100%;
      min-height: 130px;
      justify-content: space-between;
      align-content: flex-end; }
      #header .content .goodboy .logo {
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-start; }
        #header .content .goodboy .logo p {
          padding-left: 20px;
          color: #574367; }
      #header .content .goodboy p {
        font-family: Akrobat;
        font-size: 24px;
        line-height: 35px;
        text-align: right;
        color: #949494;
        align-self: center; }

#slider {
  position: relative;
  width: 100%;
  height: 620px;
  background-color: #4b355c; }
  #slider .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .4;
    background-color: #4b355c; }
  #slider div img {
    width: 100%;
    height: 620px;
    object-fit: cover; }
  #slider div .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    #slider div .container .content {
      margin: 0 auto;
      text-align: center;
      word-wrap: wrap; }
      #slider div .container .content h1 {
        font-size: 48px;
        font-weight: 400;
        z-index: 2;
        margin-bottom: 70px;
        color: #fff; }
      #slider div .container .content .btn {
        font-family: Akrobat;
        font-size: 15px;
        font-weight: 400;
        display: inline-block;
        padding: 20px 60px;
        transition: .3s;
        text-decoration: none;
        color: #fff;
        border: 1px solid #fee260;
        border-radius: 100px; }
        #slider div .container .content .btn:hover {
          border: 1px solid #4b355c;
          background-color: #4b355c; }

#what {
  box-sizing: border-box;
  width: 100%;
  min-height: 620px; }
  #what .wrapper {
    display: flex;
    width: 100%;
    background-color: #fff;
    justify-content: space-between; }
    #what .wrapper .content {
      width: 45%;
      word-wrap: break-word;
      word-break: keep-all; }
      #what .wrapper .content h2 {
        font-family: Akrobat;
        font-size: 48px;
        font-weight: 700;
        line-height: 50px;
        color: #4b355c; }
        #what .wrapper .content h2:after {
          display: block;
          width: 36px;
          height: 4px;
          content: '';
          background-color: #fee260; }
        #what .wrapper .content h2 span {
          font-size: 24px;
          font-weight: 300;
          display: block;
          margin-bottom: 5px;
          color: #949494; }
      #what .wrapper .content p {
        font-size: 1em;
        line-height: 2;
        margin: 30px 0;
        word-wrap: break-word;
        color: #534e57; }
    #what .wrapper .section-img {
      position: relative;
      width: 42%; }
      #what .wrapper .section-img:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -150px;
        display: block;
        width: 150px;
        content: '';
        background: rgba(231, 56, 39, 0);
        background: -moz-linear-gradient(left, rgba(231, 56, 39, 0) 0%, rgba(0, 0, 0, 0.14) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(231, 56, 39, 0)), color-stop(100%, rgba(0, 0, 0, 0.14)));
        background: -webkit-linear-gradient(left, rgba(231, 56, 39, 0) 0%, rgba(0, 0, 0, 0.14) 100%);
        background: -o-linear-gradient(left, rgba(231, 56, 39, 0) 0%, rgba(0, 0, 0, 0.14) 100%);
        background: -ms-linear-gradient(left, rgba(231, 56, 39, 0) 0%, rgba(0, 0, 0, 0.14) 100%);
        background: linear-gradient(to right, rgba(231, 56, 39, 0) 0%, rgba(0, 0, 0, 0.14) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e73827', endColorstr='#000000', GradientType=1); }
      #what .wrapper .section-img img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
  #what .readmore {
    z-index: 100;
    display: flex;
    width: 100%;
    background-color: #584e60;
    flex-basis: 100%; }
    #what .readmore .wrapper {
      display: flex;
      height: 100%;
      margin: 0;
      padding: 0;
      background-color: #584e60;
      justify-content: space-between;
      align-content: center;
      align-items: center; }
      #what .readmore .wrapper .content {
        width: 45%;
        padding: 0; }
      #what .readmore .wrapper .section-color {
        font-family: Akrobat;
        font-size: 24px;
        font-weight: 100;
        display: flex;
        box-sizing: border-box;
        width: 42%;
        height: 100px;
        padding: 0 60px;
        color: #fff;
        background-color: #574367;
        align-items: center;
        align-content: center; }
        #what .readmore .wrapper .section-color p {
          text-decoration: underline;
          text-decoration-color: yellow; }

#principles {
  position: relative;
  width: 100%;
  background-color: #f3ebfa; }
  #principles .wrapper {
    z-index: 1;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    margin: 0;
    justify-content: flex-start; }
    #principles .wrapper .content {
      width: calc(42% - 60px);
      align-self: flex-end; }
      #principles .wrapper .content h2 {
        font-family: Akrobat;
        font-size: 48px;
        font-weight: 700;
        line-height: 50px;
        margin-bottom: 5px;
        color: #4b355c; }
        #principles .wrapper .content h2:after {
          display: block;
          width: 36px;
          height: 4px;
          margin-top: 30px;
          content: '';
          background-color: #fee260; }
      #principles .wrapper .content p {
        font-family: Akrobat;
        font-size: 1em;
        font-size: 24px;
        font-weight: 100;
        line-height: 1.5;
        margin: 30px 0;
        word-wrap: break-word;
        color: #534e57; }
  #principles .photo-bg {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 45%;
    bottom: 0;
    width: 55%;
    background-color: #888;
    background-image: url(../img/photo-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    #principles .photo-bg:before {
      position: absolute;
      top: 0;
      right: -150px;
      bottom: 0;
      display: block;
      width: 150px;
      content: '';
      background: rgba(0, 0, 0, 0.14);
      background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.14) 0%, transparent 50%, rgba(231, 56, 39, 0) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 0, 0, 0.14)), color-stop(50%, transparent), color-stop(100%, rgba(231, 56, 39, 0)));
      background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.14) 0%, transparent 50%, rgba(231, 56, 39, 0) 100%);
      background: -o-linear-gradient(left, rgba(0, 0, 0, 0.14) 0%, transparent 50%, rgba(231, 56, 39, 0) 100%);
      background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.14) 0%, transparent 50%, rgba(231, 56, 39, 0) 100%);
      background: linear-gradient(to right, rgba(0, 0, 0, 0.14) 0%, transparent 50%, rgba(231, 56, 39, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#e73827', GradientType=1); }

footer {
  font-family: PTSans;
  font-size: 1em;
  font-weight: 400;
  width: 100%;
  height: 70px;
  color: #fff;
  background-color: #584e60; }
  footer .wrapper {
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    align-content: center; }
    footer .wrapper ul {
      display: flex;
      width: 106px;
      justify-content: space-around; }
      footer .wrapper ul li a {
        text-decoration: none;
        color: #fff; }
        footer .wrapper ul li a:hover {
          color: #4b355c; }

.slick-dots {
  z-index: 2;
  bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end; }
  .slick-dots li {
    width: 28px;
    height: 4px;
    background-color: #fff; }
  .slick-dots .slick-active {
    height: 8px;
    background-color: #fee260; }

.slick-dotted.slick-slider {
  margin-bottom: 0; }

/* |...\КОНЕЦ ОСНОВНЫХ СТИЛЕЙ/..|

===================================

   |...\ПОДКЛЮЧЕНИЕ ШРИФТОВ/..|*/
@font-face {
  font-family: "Akrobat";
  src: url("../fonts/Akrobat/AkrobatThin/AkrobatThin.eot");
  src: url("../fonts/Akrobat/AkrobatThin/AkrobatThin.eot?#iefix") format("embedded-opentype"), url("../fonts/Akrobat/AkrobatThin/AkrobatThin.woff") format("woff"), url("../fonts/Akrobat/AkrobatThin/AkrobatThin.ttf") format("truetype"), url("../fonts/Akrobat/AkrobatThin/AkrobatThin.svg#@{font-name}") format("svg");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "Akrobat";
  src: url("../fonts/Akrobat/AkrobatExtraLight/AkrobatExtraLight.eot");
  src: url("../fonts/Akrobat/AkrobatExtraLight/AkrobatExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Akrobat/AkrobatExtraLight/AkrobatExtraLight.woff") format("woff"), url("../fonts/Akrobat/AkrobatExtraLight/AkrobatExtraLight.ttf") format("truetype"), url("../fonts/Akrobat/AkrobatExtraLight/AkrobatExtraLight.svg#@{font-name}") format("svg");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "Akrobat";
  src: url("../fonts/Akrobat/AkrobatLight/AkrobatLight.eot");
  src: url("../fonts/Akrobat/AkrobatLight/AkrobatLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Akrobat/AkrobatLight/AkrobatLight.woff") format("woff"), url("../fonts/Akrobat/AkrobatLight/AkrobatLight.ttf") format("truetype"), url("../fonts/Akrobat/AkrobatLight/AkrobatLight.svg#@{font-name}") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Akrobat";
  src: url("../fonts/Akrobat/AkrobatRegular/AkrobatRegular.eot");
  src: url("../fonts/Akrobat/AkrobatRegular/AkrobatRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/Akrobat/AkrobatRegular/AkrobatRegular.woff") format("woff"), url("../fonts/Akrobat/AkrobatRegular/AkrobatRegular.ttf") format("truetype"), url("../fonts/Akrobat/AkrobatRegular/AkrobatRegular.svg#@{font-name}") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Akrobat";
  src: url("../fonts/Akrobat/AkrobatSemiBold/AkrobatSemiBold.eot");
  src: url("../fonts/Akrobat/AkrobatSemiBold/AkrobatSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Akrobat/AkrobatSemiBold/AkrobatSemiBold.woff") format("woff"), url("../fonts/Akrobat/AkrobatSemiBold/AkrobatSemiBold.ttf") format("truetype"), url("../fonts/Akrobat/AkrobatSemiBold/AkrobatSemiBold.svg#@{font-name}") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Akrobat";
  src: url("../fonts/Akrobat/AkrobatBold/AkrobatBold.eot");
  src: url("../fonts/Akrobat/AkrobatBold/AkrobatBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Akrobat/AkrobatBold/AkrobatBold.woff") format("woff"), url("../fonts/Akrobat/AkrobatBold/AkrobatBold.ttf") format("truetype"), url("../fonts/Akrobat/AkrobatBold/AkrobatBold.svg#@{font-name}") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Akrobat";
  src: url("../fonts/Akrobat/AkrobatExtraBold/AkrobatExtraBold.eot");
  src: url("../fonts/Akrobat/AkrobatExtraBold/AkrobatExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Akrobat/AkrobatExtraBold/AkrobatExtraBold.woff") format("woff"), url("../fonts/Akrobat/AkrobatExtraBold/AkrobatExtraBold.ttf") format("truetype"), url("../fonts/Akrobat/AkrobatExtraBold/AkrobatExtraBold.svg#@{font-name}") format("svg");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: "Akrobat";
  src: url("../fonts/Akrobat/AkrobatBlack/AkrobatBlack.eot");
  src: url("../fonts/Akrobat/AkrobatBlack/AkrobatBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/Akrobat/AkrobatBlack/AkrobatBlack.woff") format("woff"), url("../fonts/Akrobat/AkrobatBlack/AkrobatBlack.ttf") format("truetype"), url("../fonts/Akrobat/AkrobatBlack/AkrobatBlack.svg#@{font-name}") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTSans/PTSansRegular/PTSansRegular.eot");
  src: url("../fonts/PTSans/PTSansRegular/PTSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans/PTSansRegular/PTSansRegular.woff") format("woff"), url("../fonts/PTSans/PTSansRegular/PTSansRegular.ttf") format("truetype"), url("../fonts/PTSans/PTSansRegular/PTSansRegular.svg#@{font-name}") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "PTSansItalic";
  src: url("../fonts/PTSans/PTSansItalic/PTSansItalic.eot");
  src: url("../fonts/PTSans/PTSansItalic/PTSansItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans/PTSansItalic/PTSansItalic.woff") format("woff"), url("../fonts/PTSans/PTSansItalic/PTSansItalic.ttf") format("truetype"), url("../fonts/PTSans/PTSansItalic/PTSansItalic.svg#@{font-name}") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTSans/PTSansBold/PTSansBold.eot");
  src: url("../fonts/PTSans/PTSansBold/PTSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans/PTSansBold/PTSansBold.woff") format("woff"), url("../fonts/PTSans/PTSansBold/PTSansBold.ttf") format("truetype"), url("../fonts/PTSans/PTSansBold/PTSansBold.svg#@{font-name}") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "PTSansItalic";
  src: url("../fonts/PTSans/PTSansBoldItalic/PTSansBoldItalic.eot");
  src: url("../fonts/PTSans/PTSansBoldItalic/PTSansBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans/PTSansBoldItalic/PTSansBoldItalic.woff") format("woff"), url("../fonts/PTSans/PTSansBoldItalic/PTSansBoldItalic.ttf") format("truetype"), url("../fonts/PTSans/PTSansBoldItalic/PTSansBoldItalic.svg#@{font-name}") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "PTSansNarrow";
  src: url("../fonts/PTSansNarrow/PTSansNarrowRegular/PTSansNarrow.eot");
  src: url("../fonts/PTSansNarrow/PTSansNarrowRegular/PTSansNarrow.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansNarrow/PTSansNarrowRegular/PTSansNarrow.woff") format("woff"), url("../fonts/PTSansNarrow/PTSansNarrowRegular/PTSansNarrow.ttf") format("truetype"), url("../fonts/PTSansNarrow/PTSansNarrowRegular/PTSansNarrow.svg#@{font-name}") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "PTSansNarrow";
  src: url("../fonts/PTSansNarrow/PTSansNarrowBold/PTSansNarrowBold.eot");
  src: url("../fonts/PTSansNarrow/PTSansNarrowBold/PTSansNarrowBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansNarrow/PTSansNarrowBold/PTSansNarrowBold.woff") format("woff"), url("../fonts/PTSansNarrow/PTSansNarrowBold/PTSansNarrowBold.ttf") format("truetype"), url("../fonts/PTSansNarrow/PTSansNarrowBold/PTSansNarrowBold.svg#@{font-name}") format("svg");
  font-weight: 700;
  font-style: normal; }

body {
  font-family: PTSans;
  font-size: 15px;
  background-color: #fff; }

#menu-bar {
  display: none; }

label[for='menu-bar'] {
  display: none; }

.container {
  z-index: 9999;
  box-sizing: border-box;
  width: 65%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px; }

.content {
  padding: 100px 0;
  box-sizing: border-box; }

.btn {
  font-family: Akrobat;
  font-size: 15px;
  font-weight: 400;
  display: inline-block;
  padding: 20px 60px;
  transition: .3s;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fee260;
  border-radius: 100px; }
  .btn:hover {
    border: 1px solid #4b355c;
    background-color: #4b355c; }

@media screen and (max-width: 960px) {
  label[for='menu-bar'] {
    align-self: center; }
  .wrapper {
    flex-direction: column; }
  .container {
    width: 100%;
    padding: 0; }
  .content {
    padding: 0 30px; }
  #slider {
    height: 100vh; }
    #slider div img {
      width: 100%;
      height: 100vh; }
  #header {
    width: 100%;
    box-sizing: border-box;
    background-color: #fff; }
    #header hr {
      margin: 0; }
    #header #navbar-header {
      width: 100%;
      padding: 22px 0; }
      #header #navbar-header .content {
        padding: 0 30px;
        justify-content: flex-end; }
        #header #navbar-header .content label[for='menu-bar'] {
          align-self: center;
          font-size: 30px;
          color: #574367;
          z-index: 101;
          position: absolute;
          display: flex;
          padding: 35px;
          box-sizing: border-box;
          top: 0;
          left: 0;
          background-color: rgba(255, 255, 255, 0.9);
          transition: .5s; }
          #header #navbar-header .content label[for='menu-bar'].active .fa {
            display: none; }
          #header #navbar-header .content label[for='menu-bar'].active:before {
            color: #949494;
            font-family: FontAwesome;
            content: '\f00d'; }
        #header #navbar-header .content .showed {
          bottom: 0;
          right: 0;
          display: flex;
          transition: .5s; }
        #header #navbar-header .content #menu {
          padding: 0 30px;
          box-sizing: border-box;
          width: 100%;
          height: 100vh;
          position: absolute;
          align-items: flex-start;
          z-index: 102;
          display: none;
          flex-direction: column;
          justify-content: flex-start;
          top: 90px; }
          #header #navbar-header .content #menu.show {
            display: flex; }
          #header #navbar-header .content #menu li {
            padding: 30px; }
            #header #navbar-header .content #menu li a {
              font-family: PTSans;
              font-size: 1em;
              font-weight: 400;
              padding-bottom: 6px;
              transition: .5s;
              text-decoration: none;
              color: #949494;
              border-bottom: 2px solid transparent; }
              #header #navbar-header .content #menu li a:hover {
                font-weight: 700;
                color: #574367;
                border-bottom: 2px solid #574367; }
      #header #navbar-header .btn {
        align-self: flex-end; }
    #header .content {
      padding: 0 30px; }
      #header .content .goodboy .logo p {
        display: none; }
  #slider {
    position: relative;
    width: 100%;
    height: 620px;
    background-color: #4b355c; }
    #slider .overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: .4;
      background-color: #4b355c; }
    #slider div img {
      width: 100%;
      height: 620px;
      object-fit: cover; }
    #slider div .container .content h1 {
      font-size: 30px; }
  #what .wrapper .content {
    width: 100%;
    padding: 30px; }
    #what .wrapper .content h2 {
      font-family: Akrobat;
      font-size: 48px;
      font-weight: 700;
      line-height: 50px;
      color: #4b355c; }
      #what .wrapper .content h2:after {
        display: block;
        width: 36px;
        height: 4px;
        content: '';
        background-color: #fee260; }
      #what .wrapper .content h2 span {
        font-size: 24px;
        font-weight: 300;
        display: block;
        margin-bottom: 5px;
        color: #949494; }
    #what .wrapper .content p {
      font-size: 1em;
      line-height: 2;
      margin: 30px 0;
      word-wrap: break-word;
      color: #534e57; }
  #what .wrapper .section-img {
    width: 100%;
    margin-bottom: -2px;
    height: 100vh; }
    #what .wrapper .section-img:before {
      display: none; }
    #what .wrapper .section-img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  #what .readmore .wrapper .content {
    width: 100%;
    padding: 30px;
    text-align: center; }
  #what .readmore .wrapper .section-color {
    width: 100%;
    height: auto;
    padding: 30px; }
  #principles .wrapper .content {
    width: 100%;
    padding-top: 30px; }
    #principles .wrapper .content h2 {
      font-family: Akrobat;
      font-size: 48px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 5px;
      color: #4b355c; }
      #principles .wrapper .content h2:after {
        display: block;
        width: 36px;
        height: 4px;
        margin-top: 30px;
        content: '';
        background-color: #fee260; }
    #principles .wrapper .content p {
      font-family: Akrobat;
      font-size: 1em;
      font-size: 24px;
      font-weight: 100;
      line-height: 1.5;
      margin: 30px 0;
      word-wrap: break-word;
      color: #534e57; }
  #principles .photo-bg {
    position: static;
    width: 100%;
    height: 100vh;
    background-image: url(../img/photo-bg.jpg);
    background-position: left; }
    #principles .photo-bg:before {
      display: none; }
  footer .wrapper {
    flex-direction: row;
    box-sizing: border-box;
    height: auto;
    padding: 30px; } }

/*
──██─███─████─█──█─████─███─────█─███
───█─█───█──█─█─█──█──█─█──────██───█
───█─███─█────██───█──█─███─────█─███
█──█─█───█──█─█─█──█──█───█─────█───█
████─███─████─█──█─████─███════██─███
*/
